@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables";

body {
  background-color: $site-background;
  background-image: url("xv.png");
  background-size: 800px 800px;
  background-repeat: repeat;
}
