@import "../styles/variables";

.giftDetailView {
  background-image: url("/xv.png");
  background-color: $background-green;

  &.customGift {
    background-color: white;
    color: black;
    button {
      color: black !important;
    }
  }
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-size: 800px 800px;
  position: relative;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 4em;
  max-height: 80vh;
  overflow: visible;
  border-radius: 12px;
  padding-top: 4em;
  box-shadow: 0 25px 50px 12px rgba(0, 0, 0, 0.25);

  .giftOverlay {
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-60%);
  }

  @media (max-width: 768px) {
    .giftOverlay {
      transform: none;
      position: relative;
      margin: 0 auto;
      margin-bottom: 4rem;
      top: 0;
      left: 0;
      width: fit-content;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    max-height: none;
    margin: 0;
    padding-top: 1em;
    border-radius: 0;
    z-index: 1000;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */

    @media (max-width: 768px) {
      padding: 1rem;
      height: auto;
      min-height: 100%;
    }
  }

  .detailSection {
    padding: 2rem;
    overflow-y: auto;

    img,
    video {
      display: inline;
      max-height: 50vh;
      max-width: 500px;
      object-fit: contain;

      @media (max-width: 768px) {
        max-height: 50vh;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      padding: 1rem;
    }

    h2 {
      font-family: $background-green monospace;
      margin-bottom: 1.5rem;
      font-size: 2rem;

      @media (max-width: 768px) {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    p {
      font-family: monospace;
      line-height: 1.6;
      font-size: 1rem;
      opacity: 0.9;
    }
  }
}

.default {
  background-color: $background-green;
}

.blue {
  background-color: $background-blue;
}

.brown {
  background-color: $background-brown;
}
